venv
.env.db
.env.prod
/.vscode/
/mongodb_data_dev/
/backend/media/
/backend/static/
/backend/secrets.json
/grafana/config.monitoring
/prometheus/data/
/grafana/data/
/settings/prod/.env.elastic
/kibana/config/kibana.yml
