venv
.env.db
.env.prod
/.vscode/
/mongodb_data_dev/
/deploy/keys/
/deploy/.terraform.lock.hcl
/deploy/.terraform.tfstate.lock.info
/deploy/terraform.tfstate
/deploy/terraform.tfstate.backup
/backend/media/
/backend/static/
/docker-compose.aws.yml
/backend/secrets.json
/k3s_config.yaml
